<nav class="nav">
  <a class="navbar-brand" tag="a" routerLink="/">Gifoogle</a>
  <a
    class="nav-link"
    tag="a"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </a>
  <a
    class="nav-link"
    tag="a"
    routerLink="/trending"
    routerLinkActive="active"
  >
    Trending
  </a>
  <a
    class="nav-link"
    tag="a"
    routerLink="/random"
    routerLinkActive="active"
  >
    Random
  </a>
  <a href="https://giphy.com/" class="ml-auto" target="_blank">
    <img src="assets/Poweredby_640px-Black_HorizLogo.png" height="30px" />
  </a>
</nav>
