/* You can add global styles to this file, and also import other style files */

body {
  background: #000000;
  color: #ffffff !important;
  background-image: url('https://media.giphy.com/media/rXjhFP0JzbU1G/source.gif');
}
